@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:ital,wght@0,300;0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

header {
    font-family: Sigmar, sans-serif;
    height: 100%;
}

#logo {
    width: 10%;
    margin: 2% 0 0 1%;

}

body {
    background-color: rgb(250, 250, 241);
    font-family: Rubik, sans-serif;
    font-size: 150%;
    color: #520808;

}

a {
    color: #520808;
}

#menu {
    letter-spacing: .1vw;
    line-height: 150px;
    text-align: center;
}

.connect {
    font-family: Sigmar, sans-serif;
    line-height: 30px;
}

.signup-form {
    font-family: Rubik, sans-serif;
    font-size: 60%;
}

.signup-form h2 {
    font-family: Sigmar, sans-serif;
    font-size: 200%;
}

.input-text {
    background-color: rgb(250, 250, 250);
    background: transparent;
    width: 18vw;
    height: 25px;
    border: 1px solid #520808;
    border-radius: 2px;
}

.feedback {
    height: 20vh;
    width: 30vw;
}

.button-submit {
    font-family: Rubik, sans-serif;
    background-color: #520808;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 25% 0%;
    padding: 8px;
    color: rgb(250, 250, 241);
    text-align: center;
    text-decoration: none;
}

.confirm-text {
    font-family: 'Permanent Marker', sans-serif;
    clear: both;
    line-height: 15vh;
    text-align: center;
    font-size: 150%;
}

#welcome-picture {
    width: 80%;
    border: 10px solid #520808;
    border-radius: 4px;
}

#welcome-text {
    padding-top: 5%;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;
    line-height: 300%;
}