<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- thank you message -->
        <section>
            <p class="confirm-text">Thank you for your feedback!<br>We will be in touch with you shortly.<br>You will be
                taken back to the home page in 10 seconds</p>
        </section>
    
</body>
</html>