<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <title>Connect</title>
</head>
<body>
        <!-- sign up form -->
        <section class="connect">
            <form action="https://formsubmit.co/58b9af38245f1e282b0f65a22bf43856" method="POST" class="signup-form">
                <h2>Look forward to getting in touch with you</h2>
    
                <label for="fname">First Name</label>
                <br>
                <input id="fname" name="first_name" type="text" class="input-text" required>
                <br>
                <br>
                <label for="lname">Last Name</label>
                <br>
                <input id="lname" name="last_name" type="text" class="input-text">
                <br>
                <br>
                <label for="email">Email Address</label>
                <br>
                <input type="email" id="email" name="email_address" class="input-text" required>
                <br>
                <br>
                <label for="feedback">Message</label>
                <br>
                <textarea id="feedback" name="feedback" placeholder="Write your message here"
                    class="feedback" required></textarea>
                <br>
                <input type="hidden" name="_next" value="https://8000-alena18-victoriabakerybl-yeyiawp05r.us2.codeanyapp.com/templates/confirmation.html">
                <input class="button-submit" type="submit" value="Get in touch">
                
            </form>
        </section>
</body>
</html>