{% extends "base.html" %}

{% block content %}

    <section>
        {% load static %}
        <div class="container">
            <div class="row">
              <div class="col">
               <img src="{% static 'images/welcome.jpg' %}" alt="profile picture"
                   id="welcome-picture">
                </div>
                <div class="col" id="welcome-text">Welcome to my food blog. I'm Victoria and I love to cook. Feel free
                to check out my recipes, join the blog and leave a comment. Thank you! 
               </div>
            </div>
        </div>
    </section>

{% endblock %}