<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <title>Sign-up</title>
</head>
<body>
    <!-- sign up -->
        <section class="connect">
            <form action="{% url 'confirm' %}" class="signup-form">
                <h2>Get our news by sign up to receive our new blog post</h2>
    
                <label for="fname">First Name</label>
                <br>
                <input id="fname" name="first_name" type="text" class="input-text" required>
                <br>
                <br>
                <label for="lname">Last Name</label>
                <br>
                <input id="lname" name="last_name" type="text" class="input-text">
                <br>
                <br>
                <label for="email">Email Address</label>
                <br>
                <input type="email" id="email" name="email_address" class="input-text" required>
                <br>
                <br>
                <input type="checkbox" id="terms" name="terms" value="Terms and conditions" required>
                <label for="terms">I agree to the Terms and Conditions </label><br>
                <br>
                <input class="button-submit" type="submit" value="Sign-up">
            </form>
        </section>